
img {
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
}
.container  {
    width: 675px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.7);
}
button {
    width: 100%; background-color: black; 
    color: white; font-size: 12px; padding: 4px;
    border-radius: 3px;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container__bottom :hover, .container__top :hover {
    box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.75);
}